@model Roles
@{
    ViewBag.Title = "Resumes";
    if (Model == Roles.Employer)
        Layout = "_EmployerLayout";
    else
        Layout = "_WorkerLayout";
}
<div>
    <a asp-action="Restore" asp-controller="Account">Изменить пароль</a>
</div>
