################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/FindJobTests/bin/Debug/net5.0
*.dll
*.exe
*.config
/*/bin
/*/obj
*.suo
*.user
*.v2
*.testlog
*.manifest
/FindJob/wwwroot/lib/twitter-bootstrap
/FindJob/MailConfig.json
