<head>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
</head>
<title>@ViewBag.Title</title>
<body>
    <nav class="navbar navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ffffff;">
        <a class="nav-link" asp-action="Resumes" asp-controller="Employer">Резюме</a>
        <a class="nav-link" asp-action="Vacancies" asp-controller="Employer">Мои вакансии</a>
        <a class="nav-link" asp-action="Create" asp-controller="Employer">Создать вакансию</a>
        <a class="nav-link" asp-action="Account" asp-controller="Employer">Аккаунт</a>
        <a class="nav-link" asp-action="Responses" asp-controller="Employer">Ответы</a>
        <a class="nav-link" asp-action="Logout" asp-controller="Account">Выйти</a>
    </nav>
    @RenderBody()
</body>