<title>@ViewBag.Title</title>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
</head>
<body>
    <nav class="navbar navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ffffff;">
        <a class="nav-link" asp-action="Vacancies" asp-controller="Worker">Вакансии</a>
        <a class="nav-link" asp-action="Resumes" asp-controller="Worker">Мои резюме</a>
        <a class="nav-link" asp-action="Create" asp-controller="Worker">Создать резюме</a>
        <a class="nav-link" asp-action="Responses" asp-controller="Worker">Ответы</a>
        <a class="nav-link" asp-action="Account" asp-controller="Worker">Аккаунт</a>
        <a class="nav-link" asp-action="Logout" asp-controller="Account">Выйти</a>
    </nav>
    @RenderBody()
</body>
