<title>@ViewBag.Title</title>
<body>
    <nav class="navbar navbar-light navbar-brand" style="background-color: #ffffff;">
        <a asp-action="Create" asp-controller="Worker">Create resume</a>
        <a asp-action="Resumes" asp-controller="Worker">My resumes</a>
        <a asp-action="Vacancies" asp-controller="Worker">Vacancies</a>
        <a asp-action="Account" asp-controller="Account">Account</a>
        <a asp-action="Logout" asp-controller="Account">LogOut</a>
    </nav>

    @RenderBody()
</body>
