@model Resume;
@{
    ViewBag.Title = "FindJob - просмотр резюме";
    Layout = "_EmployerLayout";
}
<img src="@ViewBag.imgSrc" height="200" />
<p>@Model.Post</p>
<p>Опыт: @Model.Expirience</p>
<p>@Model.Info</p>