@model IEnumerable<Resume>
@{ 
    ViewBag.Title = "FindJob - просмотр резюме";
    Layout = "_EmployerLayout";
}

@foreach (var resume in Model)
{
<div>
    <a asp-action="Resume" asp-route-resumeId="@resume.Id">@resume.Post</a>
</div>
}