@model IEnumerable<Vacancy>
@{
    ViewBag.Title = "Vacancies";
    Layout = "_EmployerLayout";
}

@foreach (var vacancy in Model)
{
<div>
    <a asp-action="Create" asp-route-vacancyId="@vacancy.Id">@vacancy.Post</a>
    <a asp-action="Delete" asp-route-vacancyId="@vacancy.Id">Удалить</a>
</div>
}