@model Resume;
@{
    ViewBag.Title = "Create";
    Layout = "_WorkerLayout";
}
<form asp-action="Save" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Id" />
    @if (!string.IsNullOrEmpty(@ViewBag.imgSrc))
    {
        <span>Загруженное фото</span>
        <img src="@ViewBag.imgSrc" height="200" />
    }
    <div class="form-group">
        <label asp-for="FormFile"></label>
        <input type="file" asp-for="FormFile" id="image-input" accept="image/jpeg, image/png, image/jpg" />
        <script src="~/js/UploadImage.js"></script>
        <div id="display-image"></div>
    </div>
    <div class="form-group">
        <label asp-for="Post"></label>
        <input asp-for="Post" />
        <span asp-validation-for="Post" />
    </div>
    <div class="form-group">
        <label asp-for="Salary"></label>
        <input asp-for="Salary" />
    </div>
    <div class="form-group">
        <label asp-for="Expirience"></label>
        <input asp-for="Expirience" />
    </div>
    <div class="form-group">
        <label asp-for="Info"></label>
        <textarea asp-for="Info"></textarea>
    </div>
    <div>
        <button class="btn btn-outline-success" type="submit">Сохранить</button>
    </div>
    <a asp-action="Resumes">Отмена</a>
</form>
