@model IEnumerable<Resume>
@{ 
    ViewBag.Title = "Resumes";
    Layout = "_WorkerLayout";
}

@foreach (var resume in Model)
{
    <p>
        <h3>
            @resume.Name
            @resume.Post
        </h3>          
    </p>
}