@model Vacancy;
@{
    ViewBag.Title = "FindJob - просмотр вакансии";
    Layout = "_WorkerLayout";
}
Вакансия @Model.Post
<div>Опыт: 
 @{ 
    if (Model.Expirience == null || Model.Expirience == 0)
    {
        <span>Без опыта</span>;
    }
    if (Model.Expirience != null && Model.Expirience != 0)
    {
         <span>Model.Expirience</span>;
    }
}
</div>
Описание: @Model.Info