@model IEnumerable<Vacancy>
@{
    ViewBag.Title = "Vacancies";
    Layout = "_WorkerLayout";
}

@foreach (var vacancy in Model)
{
    <div>
        <a asp-action="Create" asp-route-resumeId="@vacancy.Id">@vacancy.Post</a>
    </div>
}