@model IEnumerable<Vacancy>
@{
    ViewBag.Title = "Vacancies";
    Layout = "_WorkerLayout";
}

@foreach (var vacancy in Model)
{
<div>
    <a asp-action="Vacancy" asp-route-vacancyId="@vacancy.Id">@vacancy.Post</a>
    <a class="btn btn-outline-success" asp-action="ResponseVacancy" asp-route-vacancyId="@vacancy.Id">Откликнуться</a>
</div>
}